body {
    background-image: url(imgs/steamuserimages-a.akamaihd.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
p {
    color: aliceblue;
}
h1, h2, h3, h4, h5, h6 {
    color: aliceblue;