body {
    background-image: url(imgs/steamuserimages-a.akamaihd.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
p {
    color: aliceblue;
}
h1, h2, h3, h4, h5, h6 {
    color: aliceblue;
}
tr {
    color: aliceblue;
}
tr, td, th {
    border: 2px solid darkgreen;
    border-collapse: collapse;
    border-radius: 8px;
    width: 500px;
    padding: 15px; 
}

tr:hover {
    background-color: hsl(121, 50%, 50%);
}

table {
    width: 60%;
}
li {
    color: aliceblue;
}
ul {
    list-style-type: square;
}
ol {
    list-style-type: lower-alpha;
}
caption {
    color: aliceblue;
}
img {
    border: 5px solid darkgreen;
    border-radius: 20px;
    width : 500px;
    height : 270px;
    float: right;
}